@media (max-width: 395px){
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  
}

.logo{
  text-align: center;
  margin: 25px 220px 30px 0;
  padding: 10px 0;
  font-size: 20px;
  border: 2px solid #fff;
  border-radius: 0px 55px 10px 35px;
  color: #fff;
}

.App{
  /* overflow-x: hidden; */
  margin: 0% 5%;
}

.searchform{
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* width: 100%; */
  margin: 30px 0px;
  padding: 20px 0px;
  /* border: 1px solid #fff; */
  justify-content: center;
  /* background: linear-gradient(to right, #00f260, #0575e6); */
  /* background-color: #fff; */
  z-index: 1;
}

.searchbar{
  width: 65%;
  padding: 10px;
  border: none;
  border-radius: 50px 0px 0px 50px;
  outline: none;
  font-size: 16px;
  font-weight: 900;
  box-shadow: 1px 1px 50px 0px #313131de;
}

.searchbutton{
  background: none;
  border: none;
  outline: none;
  width: auto;
  padding: 0 20px;
  border-radius: 0px 50px 50px 0px;
  background: linear-gradient(to right, #00f260, #0575e6);
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
  color: #fff;
  box-shadow: 1px 1px 50px 0px #313131de;
}

.vector{
  z-index: -2;
}

.vector img{
  width: 100%;
  margin: 50px 0;
}









}