/* ================================== Mobile Design ================================== */

@media (max-width: 395px) {
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: rgb(10, 118, 219);
    padding-top: 60px;
    transition: 0.5s;
  }

  .sidebar li {
    margin: 50px 0 0 0;
  }

  .sidebar a {
    padding: 10px 0px 15px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 900;
    color: #fff;
    display: block;
    transition: 0.3s;
  }

  .sidebar a.active {
    color: #fff;
    background-color: rgba(105, 13, 226, 0.9);
  }

  .navmain {
    position: absolute;
    left: 84%;
    top: 3%;
  }

  #closebtn {
    position: absolute;
    top: 3%;
    right: 26px;
    font-size: 50px;
    margin-left: 50px;
    color: #fff;
  }

  #openbtn {
    border-style: none;
    background: none;
    text-decoration: none;
    font-size: 40px;
    font-weight: 900;
    cursor: pointer;
    outline: none;
    color: #fff;
    text-shadow: 0.5px 0.5px 5px #000000;
  }
}

/* ================================== Desktop Design ================================== */

@media (min-width: 396px) {
  #openbtn,
  #closebtn {
    visibility: hidden;
  }

  /* .ham {
    border: 1px solid black;
  } */

  .nav ul {
    list-style-type: none;
    float: right;
    margin: 30px 10px;
    /* border: 1px solid black; */
  }

  .nav ul li {
    display: flex;
    /* border: 1px solid black; */
    padding: 3px 10px;
  }

  .nav ul li a {
    padding: 5px 25px;
    margin: 0 8px;
    justify-content: space-between;
    text-decoration: none;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: 0.2s ease-in-out;
  }

  .nav ul li a:hover {
    border-radius: 0px 55px 10px 35px;
    background-color: #fff;
    color: #000;
  }

  .nav ul li a.active {
    border-radius: 0px 55px 10px 35px;
    background-color: #fff;
    color: #000;
  }
}
